---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<style>

</style>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;700&display=swap"
  rel="stylesheet"
/>

<body class="font-serif">
  <slot />
</body>
