---
import logo from "/radiks.svg";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<style></style>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;700&display=swap"
  rel="stylesheet"
/>

<body class="font-serif">
  <div class="m-auto w-96">
    <a href="/~mshynes/kourier/"><img class="my-2 w-24" src={logo} /></a>
    <div class="text-lg">Radi Kourier Systems.</div>
    <i>We deliver at the speed of rad!</i>
    <div class="mt-4">
      <slot />
    </div>
    <footer>
      <a
        class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
        href="/~mshynes/kourier/faq">FAQ</a
      >
    </footer>
  </div>
</body>
